{% load static %}

{% for current in comments %}
  <div class="task-history__item task-history__item--comment">
    <div class="task-history__avatar">
      {% if current.user and current.user.get_avatar_url %}
        <img src="{{ current.user.get_avatar_url }}" alt="{{ current.user }}">
      {% else %}
        <i class="bi bi-person-fill"></i>
      {% endif %}
    </div>

    <div class="task-history__content">
      <div class="task-history__name">
        {% if current.user %}
          {{ current.user }}
        {% else %}
          User
        {% endif %}
      </div>

      <div class="task-history__text">
        {{ current.text }}
      </div>
    </div>

    <div class="task-history__time">
      {{ current.formatted_date }}
    </div>
  </div>
{% endfor %}