{% extends 'site/base.html' %}
{% load static %}
{% load site_tags %}

{% block content %}

    <!-- Title and Top Buttons Start -->
    <div class="page-title-container">
        <div class="row">
            <!-- Title Start -->
            <div class="col-12 col-md-7">
                <h1 class="mb-0 pb-0 display-4" id="title">Профиль</h1>
                <nav class="breadcrumb-container d-inline-block" aria-label="breadcrumb">
                    <ul class="breadcrumb pt-0">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:dashboard' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'account:profile' %}">Профиль</a></li>
                        <li class="breadcrumb-item">Уведомления</li>
                    </ul>
                </nav>
            </div>
            <!-- Title End -->
        </div>
    </div>
    <!-- Title and Top Buttons End -->

    <!-- Two Rows Start -->
    <section class="scroll-section">


        {% for current in notifications_list %}

            {% if forloop.counter|divisibleby:2 %}
                <div class="row g-0">
                    <div class="col mb-2 justify-content-end align-items-center text-semi-large text-muted d-none d-md-flex">{{current.created_date}}</div>
                    <div class="col-auto sw-7 d-flex flex-column justify-content-center align-items-center position-relative me-4 ms-0 ms-md-4">
                        <div class="w-100 d-flex h-100"></div>
                        <div
                            class="bg-foreground sw-7 sh-7 rounded-lg shadow d-flex flex-shrink-0 justify-content-center align-items-center mt-n2 position-relative"
                            >
                            <div class="bg-gradient-light sw-5 sh-5 rounded-md">
                                <div class="text-white d-flex justify-content-center align-items-center h-100">
                                    <i data-acorn-icon="message" class="text-white align-center"></i>
                                </div>
                            </div>
                        </div>
                        <div class="w-100 d-flex h-100 justify-content-center position-relative">
                            <div class="line-w-1 bg-separator h-100 position-absolute"></div>
                        </div>
                    </div>
                    <div class="col mb-2">
                        <div class="card h-100">
                            <div class="card-body d-flex flex-column justify-content-start">
                                <div class="d-flex flex-column">
                                    {% if current.url %}
                                        <a href="{{current.url}}" class="heading stretched-link mobile_link" attr-title="{{current.title}}">{{current.title}}</a>
                                    {% else %}
                                        <span class="stretched-link">{{current.title}}</span>
                                    {% endif %}
                                    
                                    <div class="text-alternate d-md-none mb-2">{{current.created_date}}</div>
                                    <div class="text-muted">{{current.text}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row g-0">
                    <div class="col mb-2 justify-content-start align-items-center text-semi-large text-muted d-none d-md-flex order-md-3">{{current.created_date}}</div>
                    <div class="col-auto sw-7 d-flex flex-column justify-content-center align-items-center position-relative me-4 ms-0 ms-md-4 order-md-2">
                        <div class="w-100 d-flex h-100 justify-content-center position-relative">
                            <div class="line-w-1 bg-separator h-100 position-absolute"></div>
                        </div>
                        <div
                            class="bg-foreground sw-7 sh-7 rounded-lg shadow d-flex flex-shrink-0 justify-content-center align-items-center mt-n2 position-relative"
                            >
                            <div class="bg-gradient-light sw-5 sh-5 rounded-md">
                                <div class="text-white d-flex justify-content-center align-items-center h-100">
                                    <i data-acorn-icon="message" class="text-white align-center"></i>
                                </div>
                            </div>
                        </div>
                        <div class="w-100 d-flex h-100 justify-content-center position-relative">
                            <div class="line-w-1 bg-separator h-100 position-absolute"></div>
                        </div>
                    </div>
                    <div class="col mb-2 order-md-1">
                        <div class="card h-100">
                            <div class="card-body d-flex flex-column justify-content-start">
                                <div class="d-flex flex-column text-md-end">
                                    {% if current.url %}
                                        <a href="{{current.url}}" class="heading stretched-link mobile_link" attr-title="{{current.title}}">{{current.title}}</a>
                                    {% else %}
                                        <span class="stretched-link">{{current.title}}</span>
                                    {% endif %}
                                    
                                    <div class="text-alternate d-md-none mb-2">{{current.created_date}}</div>
                                    <div class="text-muted">{{current.text}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        

        
        


        
      </section>
      <!-- Two Rows End -->

{% endblock %}